:root {
    --red-color: #901C1C;
    --orange-color: #D3573C;
    --gray--color: #525252;
    --light-gray-color: #FAFAFA;    
}

@font-face {    
    font-family: "DMsans-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/DMSans-Regular.ttf") format("truetype");
}
@font-face {    
    font-family: "DMsans-medium";
    font-style: normal;
    font-weight: 500;
    src: url("./font/DMSans-Medium.ttf") format("truetype");
}
@font-face {    
    font-family: "DMsans-bold";
    font-style: normal;
    font-weight: 700;
    src: url("./font/DMSans-Bold.ttf") format("truetype");
}

body {
    font-family: "DMsans-regular";
    margin: 0 20px;
}

h1, h2 {
    font-weight: 400;
}


.content {
    position: relative;
    top: 50px;
}

.header {        
    position: absolute; 
    top: 40px;
    z-index: 1;
}

.header__logo {
    height: 38px;
}

.nav__content {
    align-items: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 335px;         
}

.photographers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;            
}

.photographers__card {
    margin-top: 30px;        
    text-align: center;
}

.photographers__city {
    color: var(--red-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;       
}

.photographers__frame {    
    overflow: hidden;    
    display : inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.photographers__name {
    color: var(--orange-color);
    font-size: 36px;    
    font-weight: 400;
    margin-top: 20px;   
}

.photographers__portrait {      
    position: relative;   
}
.photographers__portrait--mimi {
    width: 320px;
    height: auto;
    top: -95px;
    left: -60px;
}
.photographers__portrait--ellie {
    width: 200px;
    height: auto;    
    top: -20px;
}
.photographers__portrait--tracy {
    width: 600px;    
    left: -200px;
    top: -230px;   
}
.photographers__portrait--nabeel {
    height: auto;
    left: -180px;
    top: -220px;
    width: 550px;
}
.photographers__portrait--rhode {
    left: -130px;
    top: -90px;
    width: 526px;    
}
.photographers__portrait--marcel {    
    left: -160px;
    top: -50px;
    width: 526px;
}
.photographers__price {
    color: var(--gray--color);
    font-size: 9px;
    line-height: 12px;
}

.photographers__tagline {
    font-size: 10px;
    line-height: 13px;
}

.photographers__city, .photographers__tagline, .photographers__price{
    margin-bottom: 4px;
}

.pop-up {
    align-items: center;
    display: flex;
    display: none;
    justify-content: center;
}

.tag {
    border: 0.4px solid var(--light-gray-color);
    box-sizing: border-box;
    border-radius: 11px;
    color: var(--red-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 5px;
    padding: 1px 6px;
}

.title {
    color: var(--red-color);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 100px;        
    text-align: end;    
}

/*===============================
==       Pages photographes   ==
===============================*/

.modal__bground {
    display: none;
}

.portfolio__content {
    width: 335px;      
}

.portfolio__info {
    display: flex;
    align-items: center;
    margin: 10px 0;        
}

.portfolio__likes {
    margin-left: 10px;
}

.portfolio__photo {
    width: 335px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px; 
}

.portfolio__title {
    flex: 1;    
}

.portfolio__title, .portfolio__price, .portfolio__likes,  .portfolio__icon {
    color: var(--red-color);
    font-weight: normal;
    font-size: 14px;
}

.lightbox__bground {
    display: none;
}

.photographers__block {        
    width: 330px; 
    display: flex;
    align-items: center;        
}

.photographers__info {
    width: 230px;
}

.photographers__main {
    margin-top: 40px;
}

.photographers__frame--page {
    width: 100px;
    height: 100px;
}

.photographers__city--page, .photographers__tagline--page, .tag--page {
    font-size: 13px;
}
/*===============================
==       Queries              ==
===============================*/

@media only screen and (min-width: 1024px){      

    h1, h2 {
        font-size: 36px;
    }

    .header {
        align-items: center;
        display: flex;
        justify-content: space-around;         
        top: 44px;
        left: 55px;        
    }

    .header__logo {
        height: auto;
    }

    .nav {
        margin-bottom: 10px;
        margin-left: 85px;
    }

    .nav__content {
        align-items: center;        
        justify-content: unset;
        margin-top: 0;   
    }

    .photographers {
        justify-content: space-around;
    }

    .photographers__card {
        margin: 35px 0;    
        width: 370px;
        text-align: center;
    }

    .photographers__city {
        color: var(--red-color);
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;       
    }   

    .photographers__price {
        color: var(--gray--color);
        font-size: 9px;
        line-height: 12px;
    }

    .photographers__tagline {
        font-size: 10px;
        line-height: 13px;
    }

    .photographers__city, .photographers__tagline, .photographers__price{
        margin-bottom: 4px;
    }

    .pop-up {
        align-items: center;
        display: flex;
        display: none;
        justify-content: center;
    }

    .tag {
        border: 0.4px solid var(--light-gray-color);
        box-sizing: border-box;
        border-radius: 11px;
        color: var(--red-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-right: 5px;
        padding: 1px 6px;
    }

    .title {       
        font-size: 24px;     
        margin-top: 10px;
        margin-right: 65px;         
    }
}

@media only screen and (min-width: 1399px) {
    body {
        margin: auto;
        width: 1400px;
    }
    
    .nav__content {
        flex-wrap: nowrap;
    }

    .photographers {
        justify-content: space-between;
    }

    .title {
        font-size: 36px;   
        line-height: 18px;    
        margin-top: 10px;
        margin-right: 65px;
    }
}

@media only screen and (min-width: 1980px){
    .header {
        left: 650px;        
    }
}    