:root {
  --gray--border: #c4c4c4;
  --gray--color: #525252;
  --light-gray-color: #fafafa;
  --orange-color: #d3573c;
  --orangelight-color: #DB8876;
  --red-color: #901c1c;  
}

@font-face {
  font-family: "DMsans-regular";
  font-style: normal;
  font-weight: 400;
  src: url("./font/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DMsans-medium";
  font-style: normal;
  font-weight: 500;
  src: url("./font/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMsans-bold";
  font-style: normal;
  font-weight: 700;
  src: url("./font/DMSans-Bold.ttf") format("truetype");
}

body {
  font-family: "DMsans-regular";
  margin: 0 20px;
}

h1,
h2 {
  font-weight: 400;
}



.content {
  position: relative;
  top: 60px;
}

.header {
  position: absolute;
  top: 60px;
  z-index: 1;
}

.header__logo {
  height: 38px;
}

.nav__content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 335px;
}

.photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.photographers__card {
  margin-top: 30px;
  text-align: center;
}

.photographers__city {
  color: var(--red-color);
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 17px;
}

.photographers__frame {
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 200px;
}

.photographers__name {
  color: var(--orange-color);
  font-size: 2.25em;
  font-weight: 400;
  margin-top: 20px;
}

.photographers__portrait {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.photographers__price {
  color: var(--gray--color);
  font-size: 0.75em;
  line-height: 12px;
}

.photographers__tagline {
  font-size: 0.75em;
  line-height: 13px;
}

.photographers__city,
.photographers__tagline,
.photographers__price {
  margin-bottom: 4px;
}

.pop-up {
  align-items: center;    
  background-color: var(--orangelight-color);
  border-radius: 10px;
  display: none;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  left: 95px;
  padding: 7px;
  position: fixed;
  z-index: 2;
  width: 180px;    
}

.tag {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tag__li {
  border: 0.4px solid var(--gray--border);
  border-radius: 11px;
  box-sizing: border-box;
  color: var(--red-color);
  font-size: 0.75em;
  font-weight: 500;
  line-height: 16px;
  margin-right: 5px;
  padding: 1px 6px;
}

.tagspan__hidden {
  visibility: hidden;
  position: relative;
  font-size: 10px;
  left: -50px;
}

.tag__li--active {
  background-color: var(--orange-color);
  color: white;
}

.title {
  color: var(--red-color);
  font-size: 0.875em;
  line-height: 18px;
  margin-bottom: 100px;
  text-align: end;
}

/*===============================
==       Pages photographes   ==
===============================*/

.button__contact {
  background-color: var(--red-color);
  bottom: 30px;
  border-radius: 10px;
  color: white;
  font-family: "DMsans-bold";
  font-size: 1.125em;
  left: 100px;
  padding: 10px 20px;
  position: fixed;
}

.dropdownmenu__block {
  display: none;
}

.logo {
  height: 40px;
}

.photographers__block {  
  display: flex;
  align-items: center;
}

.photographers__frame--page {
  height: 100px;
  width: 100px;
}

.photographers__header {
  margin-top: 40px;
} 

.photographers__insert {
  display: none;
}

.photographers__portrait--page {
  height: 100px;
  width: 100px;
}  

.photographers__tagline--page {
    color: var(--gray--color);
}

.photographers__tag {
  align-items: center;
  display: flex;
  justify-content: baseline;
  margin-bottom: 45px;
}

.photographers__city--page,
.photographers__tagline--page,
.tag--page {
  font-size: 0.8125em;
}

.portfolio__content {
  width: 335px;
}

.portfolio__icon {
  margin-left: 5px;
}

.portfolio__info {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.portfolio__likes {
  margin-left: 10px;
}

.portfolio__media {
  border-radius: 10px;
  height: 190px;
  object-fit: cover;
  object-position: 80% 20%;
  width: 335px;
}

.portfolio__title {
  flex: 1;
}

.portfolio__title,
.portfolio__price,
.portfolio__likes,
.portfolio__icon {
  color: var(--red-color);
  font-weight: normal;
  font-size: 0.875em;
}

/*===============================
==          lightbox          ==
===============================*/
.close:focus i {
  border:1px solid #000000;
}

.nextImg:focus i {
  border:1px solid #000000;
}

.prevImg:focus i {
  border:1px solid #000000;
}

.close {
  position: absolute;
  right: 15px;  
}

.lightbox__bground {
  background-color: white;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 50px;
  z-index: 3;
}

.nextImg {
  position: absolute;
  right: 15px;
  top: 150px;
}

.prevImg {
  position: absolute;
  left: 20px;
  top: 150px;
}

.lightbox__content {
  animation-name: lightboxopen;
    animation-duration: 0.6s;
    display: block;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    width: 290px; 
}

.lightbox__media { 
  border-radius: 10px;
  box-shadow: 4px 4px 8px -1px var(--gray--color);
  width: 290px;
  height: 248px;
  object-fit: cover;
  object-position: 100% 33%;
}

.lightbox__title {    
  font-size: 0.875em;
  line-height: 0.78em;
  margin-top: 7px;
}

.close__icon, .lightbox__icon, .lightbox__title {
  color: var(--red-color);
}

@keyframes lightboxopen {
  from {
    transform:scale(0)
  } 
  to {
    transform:scale(1)
  }
}

/*===============================
==           modal            ==
===============================*/
.form__data {
  width: 100%;
}
.modal__bground {
  background-color: #ffff;
  display: none;  
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;  
}

.modal__content{
  align-items: center;  
  background-color: var(--orange-color);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;  
  position: relative;
  margin-top: 100px; 
}

.modal__error {
  font-size: 1.2em;
  color: #000000;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;  
}

.modal__title {
  font-size: 2.25em;  
  width: 75%;  
}

.modal__input {    
  height: 50px;
  font-size: 1.5em;
}

.modal__send-button { 
  background-color: var(--red-color); 
  border-radius: 10px;
  color: #ffff;
  font-size: 1.125em;
  padding: 5px 50px;
  margin-top: 25px; 
  margin-left: 95px;   
}

.modal__close {  
  color: #ffff;
  font-size: 1.5em;  
  position: absolute;
  right: 20px;
  top: 15px;
}

.modal__close--btn {
  visibility: hidden;
}

textarea {
  width: 100%;
  height: 150px;
  font-family: "DMsans-regular";
  font-size: 1.7em;
}
.modal__content, .modal__form, .modal__input {
  width: 100%;
}

.modal__input, .modal__input--textarea {
  border-radius: 10px;
}

.modal__firstname, .modal__lastname, .modal__email, .modal__message {  
  font-size: 1.5em;
  margin-top: 15px; 
  width: 100%; 
}

.validation__bground {
  background-color: #ffff;
  display: none;  
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.validation__close {  
  top: 110px;
}  

.validation__content {  
  align-items: center;  
  background-color: var(--orange-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin: 100px auto;
  padding: 25px 50px;  
  position: relative;
  width: 100%;    
}

.validation__send-button {
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.validation__text {
  font-size: 1.5em;
  color: #000000;
  text-align: center;  
}
/*===============================
==       Queries              ==
===============================*/

@media only screen and (min-width: 1024px) {
  h1,
  h2 {
    font-size: 2.25em;
  }

  .content {
    top: 80px;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    left: 55px;
    top: 90px;
  }

  .header__logo {
    height: auto;
  }

  .nav {
    margin-bottom: 10px;
    margin-left: 85px;
  }

  .nav__content {
    align-items: center;
    justify-content: unset;
    margin-top: 0;
  }

  .photographers {
    justify-content: space-around;
  } 

  .photographers__block {
    background-color: var(--light-gray-color);
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 50px 60px;    
  }

  .photographers__card {
    margin: 35px 0;
    text-align: center;
    width: 370px;
  }

  .photographers__header {
    margin-top: 40px;
  }

  .photographers__info {
    width: 36%;
  }

  .photographers__block, .photographers__header {
    margin-right: auto;
    margin-left: auto;        
  } 

  .photographers__city--page, .photographers__tagline--page {
    margin-bottom: 15px;
  }

  .pop-up {
    left: 400px;    
  }

  .title {
    font-size: 24px;
    margin-right: 65px;
    margin-top: 10px;    
  }

  /*===============================
  ==       Pages photographes   ==
  ===============================*/

  .button__contact {
    bottom: 50px;
    cursor: pointer;
    display: initial;
    left: -90px;
    padding: 20px 10px;
    position: relative;    
    transition: 0.2s;
  }

  .button__contact:hover {
    background-color: var(--orange-color);
    color: #000000;
  }

  .logo {
    height: auto;    
  }

  .photographers__name--page {
    font-size: 4em;
  }

  .photographers__frame--page {
    height: 200px;
    width: 200px; 
  }

  .photographers__insert {
    align-items: center;  
    background-color: var(--orange-color);
    border-radius: 5px;
    bottom: 0;
    display: flex;  
    justify-content: center;
    padding: 15px 20px;
    position: fixed;  
    right: 40px;
    width: 340px;
    z-index: 1;
  }
  .photographers__likes {
    margin-right: 5px;
  }
  .photographers__price--page {
    color: #000000;  
    flex: 1;
    font-size: 1.5em;  
    text-align: end;
    text-decoration: underline;
  }

  .photographers__icon, .photographers__likes {
    font-size: 1.5em;
  }

  .photographers__portrait--page {
    height: 200px;
    width: 200px;
  }

  .portfolio__block {
    margin-bottom: 30px;
    width: 335px;    
  }

  .porfolio__media {
    cursor: pointer;        
  }
  .portfolio__media:hover {
    opacity: 0.7;
  }

  .portfolio__content {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 100px;  
  }

  .portfolio__icon {
    margin-left: 5px;
  }

  .portfolio__title,
  .portfolio__price,
  .portfolio__likes,
  .portfolio__icon {  
    font-size: 1.1em;
  }

/*===============================
==       dropdown menu        ==
===============================*/

.dropdownmenu__block {
  display: initial;  
}

.dropdownmenu__label {
  font-size: 1.125em;
  margin-right: 25px;
}

#order  {
  background-color: var(--red-color);
  border-radius: 10px;
  color: #ffff;
  font-size: 1.125em;
  padding: 10px;  
}
  /*===============================
  ==          lightbox          ==
  ===============================*/
  .close {  
    right: 80px;
     
  }

  .lightbox__bground {
    padding-top: 60px;
  }

  .nextImg {  
    right: 80px;
    top: 350px;  
  }

  .prevImg {  
    left: 80px;
    top: 350px; 
  } 

  .lightbox__content{
    margin: auto;
    width: 768px;
  }

  .lightbox__media {
    height: 660px;    
    width: 768px;
  }

  .lightbox__title {
    margin-top: 20px;  
    font-size: 1.33em;
    left: 130px;
    line-height: 1.72em;    
    width: 500px;
  } 

  .lightbox__icon:hover,
  .lightbox__icon:focus {
    color: var(--orange-color);
    text-decoration: none;
    cursor: pointer;
  }

  .close__icon, .lightbox__chevron-l, .lightbox__chevron-r  {
    font-size: 2.5em;
  }

  /*===============================
  ==          modale            ==
  ===============================*/

  .modal__content {
    width: 724px;
    margin-left: 150px;
  }

  .modal__send-button {         
    margin-left: 0;
    padding: 25px 50px;
      
  }

  .validation__close {    
    right: 130px;
    font-size: 2em;
  } 

  .validation__content {
    width: 80%;
  }

  .validation__send-button {
    margin-left: 290px;
    font-size: 1.8em;
  }

  .validation__text {
    width: 100%;
    font-size: 2em;
  }
}

@media only screen and (min-width: 1399px) {

  body {
    width: 1240px; 
    margin: auto;    
  }

  .button__contact {    
    left: -200px;   
  }
  
  .content {
    top: 90px;
  }

  .close {  
    right: 140px;     
  }  

  .header {
    left: 90px;
  } 

  .nextImg {  
    right: 140px;
    top: 510px;  
  }
  
  .prevImg {  
    left: 140px;
    top: 510px;  
  }  

  .lightbox__content { 
    width: 1050px;
  }

  .lightbox__media {
    height: 900px;    
    width: 1050px;
  } 
 
  .nav__content {
    flex-wrap: nowrap;
  }

  .photographers {    
    justify-content: flex-start;
  }

  .pop-up {
    left: 600px;
  }

  .portfolio__content {        
    justify-content: space-between;     
  }

  .title {
    font-size: 2.25em;
    line-height: 18px;
    margin-top: 10px;    
  }

  /*===============================
  ==          modal             ==
  ===============================*/
  .modal__content {
    width: 670px;
    margin-left: 385px;
  }
  
  .validation__close {
    right: 380px;
    font-size: 2.2em;
  }

  .validation__content {
    width: 50%;
  }
  
  .validation__send-button {
    margin-left: 215px;
    font-size: 2em;
  }

  .validation__text {
    width: 100%;
    font-size: 2.2em;
  }
  
}

@media only screen and (min-width: 1920px) {
  .header {
    left: 310px;
  }  

  .close {  
    right: 100px;
    top: 60px;  
  }
  
  .nextImg {  
    right: 100px;
    top: 580px;  
  }
  
  .prevImg {  
    left: 100px;
    top: 600px;  
  }  

  .lightbox__content {
    width: 1570px;
  }
    
  .lightbox__media {        
    height: 1150px;     
    width: 1570px;
  }  

  .modal__content {
    width: 670px;
    margin-left: 625px;
  }

  .pop-up {
    left: 875px;
  }
  
  .validation__close {
    right: 220px;    
  }
  
  .validation__send-button {
    margin-left: 590px;    
  }  

}

@media only screen and (min-width: 2300px) {
  .header {
    left: 650px;
  }
  
  .close {  
    right: 430px;     
  }   
  
  .nextImg {  
    right: 430px;      
  }   
  
  .prevImg { 
    left: 430px;      
  }

  .modal__content {
    width: 670px;
    margin-left: 945px;
  } 

  .pop-up {
    left: 1170px;
  }

  .validation__close {
    right: 680px;    
  }
  
  .validation__send-button {
    margin-left: 500px;    
  }  

}